<!-- Page Content -->
<div class="container">
    <div *ngIf="movieDetails != null">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <!--img class="img-responsive img-rounded" src="{{urlImage}}{{ movieDetails?.backdrop_path }}" alt=""-->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-items" [src]="getInitVideo(movieDetails.videos.results)" allowfullscreen></iframe>
                </div>
                <!--div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="col-md-12">
                                <carousel [interval]="interval" [noWrap]="noWrapSlides">
                                    <slide *ngFor='let result of movieDetails?.videos.results'>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-items" [src]="buildUrl('result.key')" allowfullscreen></iframe>
                                        </div>
                                    </slide>
                                </carousel>
                    </div>
                </div-->
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>{{ movieDetails?.original_title }}</h1>
                <p>{{ movieDetails?.overview }}</p>
                <span class="label label-info" *ngFor='let genr of movieDetails.genres' style="display: inline-block;">{{genr.name}}</span>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <a href="{{ movieDetails?.homepage }}" target="_blank">{{ movieDetails.homepage }}</a>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Heading 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>