<!-- Page Content -->
<div class="container">
    <div *ngIf="movieDetails != null">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <!--img class="img-responsive img-rounded" src="{{urlImage}}{{ movieDetails?.backdrop_path }}" alt=""-->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-items" [src]="getInitVideo(movieDetails.videos.results)" allowfullscreen></iframe>
                </div>
                <!--div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="col-md-12">
                                <carousel [interval]="interval" [noWrap]="noWrapSlides">
                                    <slide *ngFor='let result of movieDetails?.videos.results'>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-items" [src]="buildUrl('result.key')" allowfullscreen></iframe>
                                        </div>
                                    </slide>
                                </carousel>
                    </div>
                </div-->
            </div>
            <div class="col-md-4">
                <h1>{{ movieDetails?.original_title }}</h1>
                <p>{{ movieDetails?.overview }}</p>
                <h3>
                <span class="label label-default" *ngFor='let genr of movieDetails.genres'>{{genr.name}}</span>
                </h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <a href="{{ movieDetails.homepage }}" target="_blank">{{ movieDetails.homepage }}</a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <tabset>
            <tab heading="Cast">
                <div class="col-sm-5 col-lg-4 col-md-5" *ngFor='let cast of movieDetails.credits.cast'>
                    <div *ngIf="cast.profile_path != null" class="thumbnail">
                        <img [src]="buildUrlIMage(cast.profile_path)" alt='{{ cast.name }}'>
                        <div class="caption">
                            <h4><a [routerLink]="['/detail', cast.id]">{{ cast.name }}</a>
                            </h4>
                            <p>{{cast.character}}</p>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Crew">
                <div class="col-sm-5 col-lg-4 col-md-5" *ngFor='let crew of movieDetails.credits.crew'>
                    <div *ngIf="crew.profile_path != null" class="thumbnail">
                        <img [src]="buildUrlIMage(crew.profile_path)" alt='{{ crew.name }}'>
                        <div class="caption">
                            <h4><a [routerLink]="['/detail', crew.id]">{{ crew.name }}</a></h4>
                            <p>{{crew.job}}</p>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
        
    </div>
</div>